<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        {% for banka in deposits %}
        <li>      <a href="{% url 'depo-detail' pk=banka.pk %}">
                  Deposit: <strong>{{ banka.deposit }}</strong> <br>
                  Term: <strong>{{ banka.term }} <br>
                  Rate: <strong>{{ banka.rate }} <br>
                  Interest: {{ banka.interest }}  <br>
                    </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>